.App {
  text-align: center;
}
body{
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLZp-0Zvi5Rg98VKc1TUvMi2QF0DVFjnnK9rYAbBfOCTjOwx8d-A") repeat;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}